.story {
  display: none;
}

.authorities{
  display: none;
}

.inventory {
  display: none;
}

.alley {
  display: none;
}

.alley2 {
  display: none;
}

.hallway {
  display: none;
}

.study {
  display: none;
}

.attic{
  display: none;
}

.atticReturn{
  display: none;
}

.cellar {
  display: none;
}

.cellarReturn {
  display: none;
}

.cellarReturnDeadRat {
  display:none;
}

.parlorLocked {
  display: none;
}

.exchangeFire {
  display: none;
}

.roboBattle {
  display: none;
}

.cyborgDies {
  display: none;
}

.characterDies {
  display: none;
}

.characterMisses {
  display: none;
}

.monsterMisses {
  display: none;
}

.parlorInterior {
  display: none;
}

.parlorUnlocked {
  display: none;
}

#alleyError {
  display: none;
}

#pileOfDebris {
  display: none;
}

#hallwayError {
  display: none;
}

#searchDesk {
  display: none;
}

#studyError {
  display: none;
}

#cellarError {
  display: none;
}

#cellarReturnError {
  display: none;
}

#cellarReturnDeadRatError {
  display: none;
}

#killRats {
  display: none;
}

#killRatReturn {
  display: none;
}

#investigateRat {
  display: none;
}

#atticError {
  display: none;
}

#parlorUnlockedError {
  display: none;
}

#parlorError {
  display: none;
}

#parlorLockedError {
  display: none;
}

#pickUpLaser {
 display: none;
}

#pickUpLaser {
  display: none;
 }
 
#atticReturnError{
  display: none;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  height: 100vh;
}

.monitor {
  width: 80%;
  height: 80%;
  background-image: linear-gradient(90deg, rgb(80, 80, 80) ,rgb(104, 104, 104));
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.screenEdge {
  width: 80%;
  height: 80%;
  background-image: linear-gradient(90deg, rgb(50, 50, 50), rgb(75, 75, 75));
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.screen {
  width: 90%;
  height: 90%;
  background-color: rgb(0, 0, 0);
  background-image: radial-gradient(
  rgba(0,150,0,0.75), black 120%);
  color: white;
  font: 1.3rem Incosolata , monospace ;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.playerInput {
  bottom: 0px;
  position: relative;
}

.monitorNeck {
  width: 100px;
  height: 160px;
  bottom: 50px;
  background-image: linear-gradient(rgb(61, 61, 61), rgb(90, 89, 89));
}

.base {
  width: 60%;
  height: 50px;
  bottom: 0px;
  position: absolute;
  background-image: linear-gradient(rgb(61, 61, 61), rgb(90, 89, 89));
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.type {
  color:#0000;
  background:
    linear-gradient(-90deg,#f7f7f7 5px,#0000 0) 10px 0,
    linear-gradient(#ffffff 0 0) 0 0;
  background-size:calc(var(--n)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation: 
   b .3s infinite steps(1),   
   t calc(var(--n)*.05s) steps(var(--n)) forwards;
}

@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}